main{
    direction: rtl;
    font-family: 'Iranian Sans', sans-serif;
    width: 90%;
}


/* * product specs */
.name-brand-tags{
    align-self: flex-start;
}

.brand{
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.tags{
    gap: 20px;
}

.tags a{
    text-decoration: none;
    color: black;
}

.tags small{
    font-size: 18px;
    padding: 4px 8px;
    color: azure;
    background-color: rgb(71, 71, 71);
}

.image-box{
    width: 480px;
    height: auto;
}

.image{
    width: 90%;
}

.color-size-price{
    align-self: flex-start;
    flex-shrink: 1;
}

input[type='radio']{
    height: 20px;
    width: 20px;
}

.discount{
    font-size: 20px;
    gap: 10px;
}

.discount-value{
    direction: ltr;
    font-size: 16px;
    gap: 1px;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    background-color: green;
    color: azure;
}

.discount-value::after{
    content: ' %';
}

.price-before{
    color: grey
}

.price-before-value{
    text-decoration: line-through;
}

.price-after{
    color: green;
}

.add-to-cart-box{
    width: max-content;
}

.add-to-cart{
    font-size: 24px;
    gap: 10px;
    padding: 5px 90px;
    color: azure;
    background-color: rgb(52, 81, 9);
}


/* * You like section */
.you-like{
    display: grid;
    text-align: center;
    /* justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.you-like-product{
    justify-self: center;
}

.you-like-img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.you-like-name {
    text-decoration: none;
    color: black;
}

.you-like-name:hover {
    text-decoration: underline;
    color: black;
}

.you-like-price{
    color: green;
}