/* Used color palette doc:
https://flatuicolors.com/palette/defo
 */
:root{
    --nav-bar-bg-color: #ecf0f1;
    --footer-bg-color: #34495e;
    --footer-text-color: #ecf0f1;
}

body{
    font-family: 'Iranian Sans', sans-serif;
}


/* * nav bar section (START) */
nav{
    position: sticky;
    top: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (width <= 766px){
    nav{
        justify-content: center;
    }
}
@media only screen and (width <= 400px){
    nav{
        position: static;
    }
}

.nav-logo{
    height: 60px;
    font-size: 26px;
    font-weight: 600;
    margin-left: 5px;
}

.nav-logo a{
    text-decoration: none;
    color: black;
}

nav img{
    margin: 0;
    max-height: 100%;
}

.nav-search input{
    direction: rtl;
}

.search-button{
    font-size: 26px;
    border: 0;
    border-radius: 50%;
}

.nav-login-cart{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.nav-login-cart a{
    text-decoration: none;
    color: black;
}

.nav-login-cart i{
    font-size: 24px;
}
/* * nav bar section (END) */


/* * footer section (START) */
footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}
/* * footer section (END) */