/* Used color palette doc:
https://flatuicolors.com/palette/defo
 */
:root{
    --nav-bar-bg-color: #ecf0f1;
    --footer-bg-color: #34495e;
    --footer-text-color: #ecf0f1;
}

body{
    font-family: 'Iranian Sans', sans-serif;
}


/* * nav bar section (START) */
nav{
    position: sticky;
    top: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and(width <= 766px){
    nav{
        justify-content: center;
    }
}

.nav-logo{
    height: 60px;
    font-size: 26px;
    font-weight: 600;
    margin-left: 5px;
}

.nav-logo a{
    text-decoration: none;
    color: black;
}

nav img{
    margin: 0;
    max-height: 100%;
}

.nav-search input{
    direction: rtl;
}

.search-button{
    font-size: 26px;
    border: 0;
    border-radius: 50%;
}

.nav-login-cart{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.nav-login-cart a{
    text-decoration: none;
    color: black;
}

.nav-login-cart i{
    font-size: 24px;
}
/* * nav bar section (END) */



/* * main section (START) */
/* background image section (START) */
.bg-image{
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#bg-image-1{
    background-image: url(../images/IMAGE-landscape-fill-1.jpg);
}

#bg-image-2{
    background-image: url(../images/IMAGE-landscape-fill-3.jpg);
}

@media only screen and (width <= 765px){
    .bg-image{
        background-attachment: scroll;
        align-items: start;
        justify-content: center;
        background-attachment: local;
        padding-top: 10px;
    }
}

.bg-image a{
    color: rgb(89, 87, 87);
    text-decoration: none;
}
/* background image section (END) */

/* new-product (START) */
.new-product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
/* new-product (END) */
/* * main section (END) */



/* * footer section (START) */
footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}
/* * footer section (END) */